<div class="fields">
  <div class="min_attraction">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :username %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
  </div>
</div>