<!-- <h3>Sign Up!</h3>

<%= simple_form_for @user do |user_form| %>
  <fieldset>
    <%= render :partial => "user_fields", :locals => { :f => user_form } %>
  </fieldset>
  
  <div class="form-actions">
    <%= user_form.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', home_path, :class => 'btn btn-danger' %>
  </div>
<% end %> -->
<span align="center">

<h3>Log In</h3>

<%= form_tag sessions_path do %>

	<div class="control-group">
    <%= label_tag :email %>
    <div class="controls">
      <%= text_field_tag :email, params[:email] %>
    </div>
  </div>

	<div class="control-group">
    <%= label_tag :password %>
    <div class="controls">
      <%= password_field_tag :password %>
    </div>
  </div>

  <div class="actions"><%= submit_tag "Log In" %></div>
<% end %>

<p>

  Or

<p>

<h4><%= link_to raw("<i class='icon-plus icon-white'></i>Register Here"), register_path, :class => 'btn btn-primary', :id => 'Register' %></h4>
</span>