<h3>Upcoming Events</h3>
<% if @events.empty? %>
  &nbsp;&nbsp;<em>None at this time</em>
<% else %>
<!--   <h3>Events</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
  			<th>Location</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= link_to event.title, event_path(event) %></td>
          <td><%= event.location %></td>
          <td><%= event.start %></td>
          <td><%= event.end %></td>
          <td><%= link_to raw("<span class='glyphicon glyphicon-pencil'></span> Edit"), edit_event_path(event), :class => 'btn btn-md' %></td>
        </tr>
      <% end %>
    </tbody>
  </table> -->
  <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <% count = 0 %>
        <% @events.each do |event| %>
          <% count += 1 %>
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#<%= count.to_s %>">
                <b>Title: </b> <%= event.nil? ? "---" : event.title %>
              </a>
            </h4>
          </div>
          <div id="<%= count.to_s %>" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>
                <b>Start Time: </b><%= event.nil? ? "---" : event.start.strftime("%m/%d/%Y @ %I:%M%p") %>
              </p>

              <p>
                <b>End Time: </b><%= event.nil? ? "---" : event.end.strftime("%m/%d/%Y @ %I:%M%p") %>
              </p>
              
              <p>
                <b>Description: </b><%= event.nil? ? "---" : event.description %>
              </p>
              <b>
                Attendees
              </b>
            </br>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Points</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <% User.alphabetical.each do |attendee| %>
                    <tr>
                      <td><%= link_to (attendee.proper_name), user_path(attendee) %></td>
                      <td><%= attendee.email %></td>
                      <td><%= attendee.points %></td>
                      <td><%= link_to raw("<span class='glyphicon glyphicon-pencil'></span> Edit"), edit_user_path(attendee), :class => 'btn btn-md' %></td>
                      <td> Delete </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <%= link_to raw("<span class='glyphicon glyphicon-pencil'></span> Edit #{event.title}"), edit_event_path(event), :class => 'btn btn-primary myEditButton' %>&nbsp;&nbsp;
            <%= link_to raw("<span class='glyphicon glyphicon-ok'></span> Cancel #{event.title}"), event, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-success' %>            
          </div>
        <% end %>
      </div>
  </div>
<% end %>