<% if logged_in? %>
  <script>
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }
    function showPosition(position) {
      var latitude = position.coords.latitude;
      var longitude = position.coords.longitude;
      var user = <%= current_user.id %>;
      
      $.ajax({
        type: "POST",
        url: "save_coords",
        data: {
          user: user,
          latitude: latitude,
          longitude: longitude
        },
      });      
    }
    getLocation();
  </script>
  
  <div>
      <div class="col-sm-12 col-md-12 col-lg-5" style="margin-top: 20px;">
        <li><%= "#{current_user.latitude}, #{current_user.longitude}"%></li>
        <h4><%= link_to raw("<i class='icon-plus icon-white'></i>Create an Event"), new_event_path, :class => 'btn btn-primary'%></h4> 
        <div>
          <%= render :partial => "upcoming_events" %>
        </div>
<!--         <div>
          <%= render :partial => "users" %>
        </div> -->
      </div>
    </div>
  </div>      
<% else %>
  <%= render :partial => "form" %>
<% end %>
