<div class="fields">
  <div class="min_attraction">
  	  <%= f.input :title, label: 'Event Title' %>
      <%= f.input :start, label: 'Start Time' %>
      <%= f.input :end, label: 'End Time' %>
      <%= f.input :location, label: 'Event Location'  %>
      <%= f.input :description %>

  </div>
</div>

