<%= simple_nested_form_for @event do |event_form| %>
  <fieldset>
    <legend><h2><%= controller.action_name.capitalize %> Event </h2></legend>
    <%= render :partial => "event_fields", :locals => { :f => event_form } %>
  </fieldset>
  
  <div class="form-actions">
    <%= event_form.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', events_path, :class => 'btn btn-danger' %>
  </div>
<% end %>